@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #e5bdff;
  --gradient-color-2: #ce6cf4;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #000509;
}
